{
  "scheduledTasks": [],
  "scheduledTaskSessionIgnores": [],
  "sessionDirectoryCache": {
    "version": 1,
    "lastSyncedUpdatedAt": 0,
    "directories": []
  },
  "currentProject": null,
  "currentSession": null,
  "pinnedMessageId": null,
  "currentAgent": null,
  "currentModel": {
    "providerID": "opencode",
    "modelID": "big-pickle",
    "variant": "default"
  }
}